@use "sass:map";

$color-palette: (
  'black': #161721,
  'white': #fff,
  'grey': (
    'dark': #22242f,
    'medium': #607d8b,
    'light': #90a4ae
  ),
  'teal': (
    'dark': #2c7a7b,
    'medium': #60fbd0,
    'light': #a0f7e0
  ),
  'blue': (
    'dark': #1c6599,
    'medium': #1e92e6,
    'light': #6bbcff
  ),
  'yellow': (
    'dark': #ffeb3b,
    'medium': #ffecb3,
    'light': #fff8e1
  ),
  'red': (
    'dark': #e53935,
    'medium': #e57373,
    'light': #ef9a9a
  )
);

$light-theme: (
  'intense': (
    'bg': map.get(map.get($color-palette, 'yellow'), 'medium'),
    'text': map.get(map.get($color-palette, 'grey'), 'dark'),
    'link-text': map.get(map.get($color-palette, 'blue'), 'medium'),
    'link-hover-text': map.get(map.get($color-palette, 'blue'), 'dark'),
    'link-active-text': map.get(map.get($color-palette, 'red'), 'dark'),
    'button-text': map.get(map.get($color-palette, 'grey'), 'dark'),
    'button-hover-text': map.get($color-palette, 'white'),
    'button-hover-bg': map.get(map.get($color-palette, 'blue'), 'dark'),
    'button-active-bg': map.get(map.get($color-palette, 'red'), 'dark'),
  ),
  'standard': (
    'bg': map.get(map.get($color-palette, 'yellow'), 'light'),
    'text': map.get(map.get($color-palette, 'grey'), 'dark'),
    'link-text': map.get(map.get($color-palette, 'blue'), 'medium'),
    'link-hover-text': map.get(map.get($color-palette, 'blue'), 'dark'),
    'link-active-text': map.get(map.get($color-palette, 'red'), 'dark'),
    'button-text': map.get(map.get($color-palette, 'grey'), 'dark'),
    'button-hover-text': map.get($color-palette, 'white'),
    'button-hover-bg': map.get(map.get($color-palette, 'blue'), 'light'),
    'button-active-bg': map.get(map.get($color-palette, 'red'), 'light'),
  )
);

$dark-theme: (
  'intense': (
    'bg': map.get($color-palette, 'black'),
    'text': map.get($color-palette, 'white'),
    'link-text': map.get(map.get($color-palette, 'teal'), 'medium'),
    'link-hover-text': map.get(map.get($color-palette, 'teal'), 'light'),
    'link-active-text': map.get(map.get($color-palette, 'red'), 'medium'),
    'button-text': map.get($color-palette, 'white'),
    'button-hover-text': map.get(map.get($color-palette, 'grey'), 'dark'),
    'button-hover-bg': map.get(map.get($color-palette, 'teal'), 'medium'),
    'button-active-bg': map.get(map.get($color-palette, 'red'), 'dark'),
  ),
  'standard': (
    'bg': map.get(map.get($color-palette, 'grey'), 'dark'),
    'text': map.get($color-palette, 'white'),
    'link-text': map.get(map.get($color-palette, 'teal'), 'medium'),
    'link-hover-text': map.get(map.get($color-palette, 'blue'), 'medium'),
    'link-active-text': map.get(map.get($color-palette, 'red'), 'medium'),
    'button-text': map.get($color-palette, 'white'),
    'button-hover-text': map.get(map.get($color-palette, 'grey'), 'dark'),
    'button-hover-bg': map.get(map.get($color-palette, 'teal'), 'medium'),
    'button-active-bg': map.get(map.get($color-palette, 'red'), 'dark'),
  )
);