@use "sass:map";

$color-palette: (
  'primary': (
    'black': #161721,
    'dark-grey': #22242f,
    'grey': #607d8b,
    'light-grey': #90a4ae,
    'lighter-grey': #fffff2,
    'teal': #60fbd0,
    'blue': #1e92e6,
    'dark-blue': #1c6599,
    'white': #f5fff2),
  'accent': (
    'red': #e53935,
    'orange': #f57c00,
    'green': #00c853)
);

$light-theme: (
  'fooder': (
    'bg': map.get(map.get($color-palette, 'primary'), 'dark-grey'),
    'tx': map.get(map.get($color-palette, 'primary'), 'white')),
  'primary': map.get($color-palette, 'primary'),
  'accent': map.get($color-palette, 'accent'),
  'neutral': (
    '100': map.get(map.get($color-palette, 'primary'), 'white'),
    '200': map.get(map.get($color-palette, 'primary'), 'lighter-grey'),
    '300': map.get(map.get($color-palette, 'primary'), 'light-grey'),
    '400': map.get(map.get($color-palette, 'primary'), 'grey'),
    '500': map.get(map.get($color-palette, 'primary'), 'teal'),
    '600': map.get(map.get($color-palette, 'primary'), 'blue'),
    '700': map.get(map.get($color-palette, 'primary'), 'dark-blue'),
    '800': map.get(map.get($color-palette, 'primary'), 'dark-grey'),
    '900': map.get(map.get($color-palette, 'primary'), 'black'))
);

$dark-theme: (
  'fooder': (
    'bg': map.get(map.get($color-palette, 'primary'), 'black'),
    'tx': map.get(map.get($color-palette, 'primary'), 'lighter-grey')),
  'primary': map.get($color-palette, 'primary'),
  'accent': map.get($color-palette, 'accent'),
  'neutral': (
    '900': map.get(map.get($color-palette, 'primary'), 'white'),
    '800': map.get(map.get($color-palette, 'primary'), 'lighter-grey'),
    '700': map.get(map.get($color-palette, 'primary'), 'light-grey'),
    '600': map.get(map.get($color-palette, 'primary'), 'grey'),
    '500': map.get(map.get($color-palette, 'primary'), 'teal'),
    '400': map.get(map.get($color-palette, 'primary'), 'blue'),
    '300': map.get(map.get($color-palette, 'primary'), 'dark-blue'),
    '200': map.get(map.get($color-palette, 'primary'), 'dark-grey'),
    '100': map.get(map.get($color-palette, 'primary'), 'black'))
);