.footer {
  transition: all var(--theme-transition-time) ease-in-out;
  background: var(--color-fooder-bg);
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: var(--color-fooder-tx);
  .love {
    color: red;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: var(--color-neutral-100);
    &:hover{
      color: var(--color-neutral-700);
    }
    &:active {
      color: var(--color-neutral-700);
    }
  }
}